<h2>Liste des classes</h2>
<table>
  <thead>
    <tr>
     <th>idclasse </th> 
 	<th>nomClasse </th> 
 	
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let uneligne of classes">
     <td>{{classes.idclasse}}</td> 
 	<td>{{classes.nomClasse}}</td> 
 	
      <td>
        <button (click)="deleteClasses(classes.id)">Supprimer</button>
        <button (click)="classesSelectionne = classes">Modifier</button>
      </td>
    </tr>
  </tbody>
</table>

<h2>Ajouter un nouvel classest</h2>
<form (submit)="insertClasses()">
<label>Idclasse</label> 
<input type='number' [(ngModel)]='nouvelClasses.'number name='idclasse'> 
<label>NomClasse</label> 
<input type='string' [(ngModel)]='nouvelClasses.'string name='nomClasse'> 

  <button type="submit">Ajouter</button>
</form>

<h2>Modifier un classes</h2>
<form *ngIf="classesSelectionne.id" (submit)="updateClasses()">
  <input type="hidden" [(ngModel)]="classesSelectionne.id" name="id">
  <label>
    Nom:
    <input type="text" [(ngModel)]="classesSelectionne.nom" name="nom" required>
  </label>
  <label>
    Âge:
    <input type="number" [(ngModel)]="classesSelectionne.age" name="age" required>
  </label>
  <label>
    Classe:
    <input type="text" [(ngModel)]="classesSelectionne.classe" name="classe" required>
  </label>
  <button type="submit">Enregistrer</button>
</form>
