<h2>Liste des historique</h2>
<table>
  <thead>
    <tr>
     <th>idhistorique </th> 
 	<th>idpresence </th> 
 	<th>idsecteurSalles </th> 
 	<th>energieDebut </th> 
 	<th>energieManquant </th> 
 	<th>dateheureCoupure </th> 
 	
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let uneligne of historique">
     <td>{{historique.idhistorique}}</td> 
 	<td>{{historique.idpresence}}</td> 
 	<td>{{historique.idsecteurSalles}}</td> 
 	<td>{{historique.energieDebut}}</td> 
 	<td>{{historique.energieManquant}}</td> 
 	<td>{{historique.dateheureCoupure}}</td> 
 	
      <td>
        <button (click)="deleteHistorique(historique.id)">Supprimer</button>
        <button (click)="historiqueSelectionne = historique">Modifier</button>
      </td>
    </tr>
  </tbody>
</table>

<h2>Ajouter un nouvel historiquet</h2>
<form (submit)="insertHistorique()">
<label>Idhistorique</label> 
<input type='number' [(ngModel)]='nouvelHistorique.'number name='idhistorique'> 
<label>Idpresence</label> 
<input type='number' [(ngModel)]='nouvelHistorique.'number name='idpresence'> 
<label>IdsecteurSalles</label> 
<input type='number' [(ngModel)]='nouvelHistorique.'number name='idsecteurSalles'> 
<label>EnergieDebut</label> 
<input type='number' [(ngModel)]='nouvelHistorique.'number name='energieDebut'> 
<label>EnergieManquant</label> 
<input type='number' [(ngModel)]='nouvelHistorique.'number name='energieManquant'> 
<label>DateheureCoupure</label> 
<input type='Date' [(ngModel)]='nouvelHistorique.'Date name='dateheureCoupure'> 

  <button type="submit">Ajouter</button>
</form>

<h2>Modifier un historique</h2>
<form *ngIf="historiqueSelectionne.id" (submit)="updateHistorique()">
  <input type="hidden" [(ngModel)]="historiqueSelectionne.id" name="id">
  <label>
    Nom:
    <input type="text" [(ngModel)]="historiqueSelectionne.nom" name="nom" required>
  </label>
  <label>
    Âge:
    <input type="number" [(ngModel)]="historiqueSelectionne.age" name="age" required>
  </label>
  <label>
    Classe:
    <input type="text" [(ngModel)]="historiqueSelectionne.classe" name="classe" required>
  </label>
  <button type="submit">Enregistrer</button>
</form>
