<h2>Liste des secteurDesSalles</h2>
<table>
  <thead>
    <tr>
     <th>idsecteurSalles </th> 
 	<th>idsecteur </th> 
 	<th>idsalle </th> 
 	
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let uneligne of secteurDesSalles">
     <td>{{secteurDesSalles.idsecteurSalles}}</td> 
 	<td>{{secteurDesSalles.idsecteur}}</td> 
 	<td>{{secteurDesSalles.idsalle}}</td> 
 	
      <td>
        <button (click)="deleteSecteurDesSalles(secteurDesSalles.id)">Supprimer</button>
        <button (click)="secteurDesSallesSelectionne = secteurDesSalles">Modifier</button>
      </td>
    </tr>
  </tbody>
</table>

<h2>Ajouter un nouvel secteurDesSallest</h2>
<form (submit)="insertSecteurDesSalles()">
<label>IdsecteurSalles</label> 
<input type='number' [(ngModel)]='nouvelSecteurDesSalles.'number name='idsecteurSalles'> 
<label>Idsecteur</label> 
<input type='number' [(ngModel)]='nouvelSecteurDesSalles.'number name='idsecteur'> 
<label>Idsalle</label> 
<input type='number' [(ngModel)]='nouvelSecteurDesSalles.'number name='idsalle'> 

  <button type="submit">Ajouter</button>
</form>

<h2>Modifier un secteurDesSalles</h2>
<form *ngIf="secteurDesSallesSelectionne.id" (submit)="updateSecteurDesSalles()">
  <input type="hidden" [(ngModel)]="secteurDesSallesSelectionne.id" name="id">
  <label>
    Nom:
    <input type="text" [(ngModel)]="secteurDesSallesSelectionne.nom" name="nom" required>
  </label>
  <label>
    Âge:
    <input type="number" [(ngModel)]="secteurDesSallesSelectionne.age" name="age" required>
  </label>
  <label>
    Classe:
    <input type="text" [(ngModel)]="secteurDesSallesSelectionne.classe" name="classe" required>
  </label>
  <button type="submit">Enregistrer</button>
</form>
