<h2>Liste des sources</h2>
<table>
  <thead>
    <tr>
     <th>idsource </th> 
 	<th>type </th> 
 	<th>capacite </th> 
 	<th>nomSource </th> 
 	<th>idsecteur </th> 
 	
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let uneligne of sources">
     <td>{{sources.idsource}}</td> 
 	<td>{{sources.type}}</td> 
 	<td>{{sources.capacite}}</td> 
 	<td>{{sources.nomSource}}</td> 
 	<td>{{sources.idsecteur}}</td> 
 	
      <td>
        <button (click)="deleteSources(sources.id)">Supprimer</button>
        <button (click)="sourcesSelectionne = sources">Modifier</button>
      </td>
    </tr>
  </tbody>
</table>

<h2>Ajouter un nouvel sourcest</h2>
<form (submit)="insertSources()">
<label>Idsource</label> 
<input type='number' [(ngModel)]='nouvelSources.'number name='idsource'> 
<label>Type</label> 
<input type='number' [(ngModel)]='nouvelSources.'number name='type'> 
<label>Capacite</label> 
<input type='number' [(ngModel)]='nouvelSources.'number name='capacite'> 
<label>NomSource</label> 
<input type='string' [(ngModel)]='nouvelSources.'string name='nomSource'> 
<label>Idsecteur</label> 
<input type='number' [(ngModel)]='nouvelSources.'number name='idsecteur'> 

  <button type="submit">Ajouter</button>
</form>

<h2>Modifier un sources</h2>
<form *ngIf="sourcesSelectionne.id" (submit)="updateSources()">
  <input type="hidden" [(ngModel)]="sourcesSelectionne.id" name="id">
  <label>
    Nom:
    <input type="text" [(ngModel)]="sourcesSelectionne.nom" name="nom" required>
  </label>
  <label>
    Âge:
    <input type="number" [(ngModel)]="sourcesSelectionne.age" name="age" required>
  </label>
  <label>
    Classe:
    <input type="text" [(ngModel)]="sourcesSelectionne.classe" name="classe" required>
  </label>
  <button type="submit">Enregistrer</button>
</form>
